// Anonymous menu bar overrides.
.menu-bar-anonymous {
  // This class will be attached to the menu when accessing landing page.
  &.landing-page .main--menu {
    width: 100%;
  }
  .main--menu {
    .navbar {
      margin-top: 8px;
      flex-wrap: unset;
      flex-direction: row-reverse;
      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
      // Container where the hamburger menu and the mobile sidebar are placed.
      .umio-side-bar-container {
        display: block;
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
      .container {
        // Common style for right & left menus (anonymous).
        justify-content: flex-end;
        li.nav-item {
          &:first-of-type {
            margin-left: 1.5rem;
          }
        }
        // Left menu (anonymous).
        &.landing-page-anchors {
          justify-content: flex-start;
          display: none;
          @include media-breakpoint-up(md) {
            display: flex;
          }
          li.nav-item a.navbar-brand {
            color: $gray-primary-75;
            font-weight: 700;
            &:hover {
              color: $blue-primary-main;
            }
          }
        }
        // Right menu (anonymous).
        &.umio-user-actions {
          a.navbar-brand {
            color: $blue-primary-main;
            font-weight: 700;
            &.register-btn {
              border: 1px solid;
              border-radius: 32px;
              padding-right: 1.25rem;
              padding-left: 1.25rem;
            }
            &:hover {
              color: $blue-primary-dark;
            }
          }
        }
      }
    }
  }
}
// Common menu styles (logged-in & anonymous).
.main--menu {
  .navbar {
    padding: 0;
    ul {
      list-style: none;
      margin-bottom: 0;
      li.nav-item {
        &:last-of-type {
          a.navbar-brand {
            margin-right: 0;
          }
        }
        a.navbar-brand {
          margin-right: 2rem;
          font-size: .75rem;
          @include media-breakpoint-up(lg) {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .menu--main {
    background: $gray-primary-12;
    border-radius: 20px;
    padding: 24px 12px;
    .menu {
      margin: 0;
      .menu-item {
        align-items: center;
        display: flex;
        font-weight: 700;
        .nav-link {
          color: $gray-primary-75;
          &.is-active,
          &:hover {
            color: $blue-primary-main;
          }
          i {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  .offcanvas {
    ul.container {
      li.nav-item {
        a.navbar-brand {
          font-size: 1rem;
        }
      }
    }
  }
}
