{#
/**
 * @file
 * Custom dashboard card for admin pages.
 *
 */
#}

<div class="dashboard-card">
  <div class="px-2 py-4 text-align-center">
    <h3 class="dashboard-card--title fw-bold text-primary">{{ title }}</h3>
    <h6 class="dashboard-card--subtitle">{{ text }}</h6>
  </div>
</div>
