.field-range {
  .range {
    background-color: $gray-primary-12;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: $gray-primary-50;
    border-radius: 40px;

    span {
      width: 8px;
      height: 8px;
      background-color: #B71DFF;
      border-radius: 100%;
    }
  }
}
