.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .session-number {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    &.color-1 {
      color: $blue-primary-main;
    }
    &.color-2 {
      color: $green-primary-main;
    }
    &.color-3 {
      color: $orange-primary-main;
    }
    &.color-4 {
      color: $pink-primary-main;
    }
    @include media-breakpoint-up(md) {
      font-size: 2rem;
      width: 40%;
    }
  }
  .session-text {
    width: 70%;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
  }
}

.session-line {
  margin: 5px;
  height: 2px;
  width: 70%;
  background: linear-gradient(
    90deg,
    #f0f0f0 0%,
    #c0c0c0 31%,
    #c0c0c0 67%,
    #f0f0f0 100%
  );
}

@include media-breakpoint-up(md) {
  .session-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .session-number {
      font-size: 1.5rem;
    }
    .session-text {
      width: 100%;
      font-size: 0.65rem;
      padding: 5px;
    }
  }
  .session-line {
    margin: 5px;
    height: 70%;
    width: 3px;
    background: linear-gradient(
      180deg,
      #f0f0f0 0%,
      #c0c0c0 31%,
      #c0c0c0 67%,
      #f0f0f0 100%
    );
  }
}

@include media-breakpoint-up(xl) {
  .session-container {
    width: 235px;
    .session-text {
      font-size: 0.8rem;
    }
  }
}
