.opportunities-waiting {
  height: 340px;
  background: no-repeat center top;
  text-align: center;
  padding: 290px 0 0;

  p {
    font-size: 1rem;
    font-weight: 400;
    color: $gray-primary-25;
  }
}
