#profile-social-icons {
  .social-media-links--platforms {
    li {
      padding: 0 4%;
      margin-right: 20px;

      a {
        color: $gray-primary-50;
        text-decoration: none;

        i.ph-2x {
          font-size: 1.5em;
        }

        &:hover {
          i {
            color: $gray-primary-25;
          }
        }

        &:visited {
          color: $gray-primary-75;
        }

        &:active {
          i {
            color: $gray-primary-75;
          }
        }
      }
    }
  }
}
