.tags {
  .badge {
    border: 1px solid $gray-primary-50;
    color: $gray-primary-50;
    padding: 8px 16px;
    border-radius: 32px;
    display: flex;
    margin-right: 10px;

    i {
      margin-right: 5px;
    }
  }
}
