.dashboard-card {
  border: 2px solid $gray-primary-25;
  border-radius: 25px;
  box-shadow: 0 0px 4px rgb(0 0 0 / 10%), 0 2px 6px 2px rgb(0 0 0 / 3%);
  &--subtitle {
    color: $gray-primary-25;
  }
}
