form[id^="node-vacancy-edit-form"],
#node-vacancy-edit-form {
  .course-registration-company-image {
    background-color: $gray-primary-20;
    max-width: 72px;
    max-height: 72px;
    min-width: 72px;
    min-height: 72px;

    @include media-breakpoint-up(lg) {
      max-width: 104px;
      max-height: 104px;
      min-width: 104px;
      min-height: 104px;
    }

    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.12));
  }

  .headerTitle {
    font-size: 1.5rem;
  }

  .headerSubTitle {
    font-size: 1rem;
    color: $gray-primary-25;
  }
}
