{#
/**
 * @file
 * Default theme implementation for a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: Remaining HTML attributes for the element, including:
 *   - class: HTML classes that can be used to style contextually through CSS.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% extends '@umio/components/page_two_columns.html.twig' %}

{% block sidebar %}
  {% include '@umio/components/sidebar_register.html.twig' with {
    title: ('Register Company'|t),
    steps: {
      1: {
        'active': 'true',
        'done': 'true',
        'icon': 'ph-image',
        'text': ('Pictures'|t)
      },
      2: {
        'active': 'true',
        'done': 'true',
        'icon': 'ph-hard-drives',
        'text': ('Company data'|t)
      },
      3: {
        'active': 'true',
        'done': 'true',
        'icon': 'ph-map-pin',
        'text': ('Region'|t)
      },
      4: {
        'active': 'true',
        'done': 'true',
        'icon': 'ph-note-pencil',
        'text': ('Commitment Term'|t)
      },
    }
  } %}
{% endblock %}

{% block content %}
  <div class="side-form-by-step side-form-by-step-four">
    {% include '@umio/components/card-with-cta.html.twig' with {
      title: ('Your organization registration request has been sent!'|t),
      content: ("If you've already submitted the signed term of commitment, you'll soon receive notification as soon as we review the registered organization's information."|t),
      cta: {
        link: (url('<front>')),
        text: ('What happens in 1MIO'|t)
      }
    }%}
  </div>
{% endblock %}
