{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form{{ attributes }}>
  <div class="layout-content">
    <div class="row">
      <div class="col-12 col-lg-8 col-xl-6">
        {{ children }}
      </div>
    </div>
  </div>
</form>
