<div id="modal-vacancy-created" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vaga enviada!</h5>
      </div>
      <div class="modal-body">
        <p>Sua vaga foi enviada para análise. Acompanhe o processo em seu painel de vagas.</p>
      </div>
      <div class="modal-footer">
        <a href="/cadastro/vagas" class="js-btn-submit btn btn-primary w-100 mx-0">Cadastrar outra vaga</a>
        <a href="/ta-admin/vagas" class="btn btn-outline-primary w-100 mx-0" >Painel de Vagas</a>
      </div>
    </div>
  </div>
</div>
