{#
/**
 * @file
 * Default theme implementation for a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: Remaining HTML attributes for the element, including:
 *   - class: HTML classes that can be used to style contextually through CSS.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% for range in ranges %}
<div class="field-range {% if loop.length > 1 and not loop.last %}mb-3{% endif %}">
  <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 p-3 d-flex align-items-center range">
    <div class="d-flex justify-content-center flex-grow-1">{{ range.start }}</div>
    <span></span>
    <div class="d-flex justify-content-center flex-grow-1">{{ range.end }}</div>
  </div>
</div>
{% endfor %}

{% if value %}
<div class="field-range">
  <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 p-3 d-flex align-items-center range">
    {{ value }}
  </div>
</div>
{% endif %}


