<section class="hero-banner--my-publications">
  <div class="row m-0 hero-banner--background">
    <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3 my-publications--container">
      <div class="banner-my-publications--container d-flex">
        <div class="icon-content">
          <i class="ph-megaphone"></i>
        </div>
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</section>
