.register-company-manager {
  @include media-breakpoint-up(md) {
    background: linear-gradient(
      90deg,
      $gray-primary-5 41%,
      $gray-primary-10 41%
    );
  }
  @include media-breakpoint-up(lg) {
    background: linear-gradient(90deg, $gray-primary-5 38%, $gray-primary-10 0%);
  }

  ::selection {
    background-color: $blue-primary-main;
    color: $gray-primary-10;
  }

  .btn-check:focus + .btn-primary,
  .btn-primary:focus {
    color: $gray-primary-10;
    background-color: $blue-primary-main;
    border-color: $blue-primary-main;
    box-shadow: none;
    outline: none;
  }

  .btn-primary:active {
    color: $blue-primary-dark;
    background-color: $blue-primary-light;
  }

  .btn-previous {
    color: $blue-primary-main;
    background-color: $gray-primary-10;
    border-color: $blue-primary-main;
    box-shadow: none;
    outline: none;
    &:hover {
      color: $gray-primary-10;
      background-color: $blue-primary-main;
    }
  }

  .form-item-field-register-company {
    padding: 0;
    font-size: $font-size-base;
    .description {
      margin: 0;
      margin-bottom: 1rem;
    }
    label {
      color: $blue-primary-main;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    input {
      display: none;
    }
  }
  .password-suggestions {
    display: none !important;
  }
}

.register-company-manager {
  .side-form-by-step {
    padding: 0px;
    .btn {
      width: 240px;
    }
  }
}

.container-sidebar {
  min-height: auto !important;
  @include media-breakpoint-up(md) {
    .sidebar,
    .page-content-form {
      padding-top: 80px;
    }
    .page-content-form {
      padding-left: 30px;
    }
  }
}

.layout-content.row {
  display: block !important;
}

.sidebar {
  background-color: $gray-primary-5;
}

.page-content-form {
  max-width: 560px;
  margin: 0 auto;
  padding-top: 30px;
}

// Side Form
.title-webform {
  & h1 {
    margin-right: 10px;
    font-size: 36px;
    font-weight: 800;
  }
}

.title-message {
  font-weight: normal;
  font-size: 24px;
  color: $gray-primary-50;
  line-height: 2;
}

.title-by-step {
  margin-top: 40px;
  display: flex;
  & h3 {
    font-weight: 700;
    font-size: 24px;
  }
}

.icon-form-title {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: $blue-primary-main;
  margin-right: 15px;
  padding: 2px 4px 0;
}

.icon-svg-title {
  padding: 5px 4px;
  color: $gray-primary-10;
}

.icon-emoji-title {
  font-size: 28px;
}

.form-item--error-message {
  color: $alert-red-50;
  font-weight: normal !important;
  .form-required:after {
    background-image: none !important;
  }
}

.confirm-parent,
.password-parent {
  max-width: 100% !important;
}

.form-type-password {
  position: relative;
  .show-input-password {
    position: absolute;
    top: 40%;
    right: 0.5rem;
    background: unset !important;
    &.eye-close:before {
      @include generate-icon("\f15c");
    }
    &.eye-open:before {
      @include generate-icon("\f15b");
    }
  }
  &.form-item-field-password-confirm-pass2 {
    .show-input-password {
      top: 32%;
    }
  }
}

.select2-results__option[aria-selected="true"] {
  background-color: $blue-primary-main !important;
}

.icon-emoji-title-party-poppper {
  font-size: 1.8rem;
}

@include media-breakpoint-up(md) {
  .page-content-form {
    padding-top: 100px;
  }

  .container-sidebar {
    min-height: 100vh !important;
  }

  .layout-content.row {
    display: flex !important;
  }

  .register-company-manager {
    .side-form-by-step-four {
      margin-top: 220px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .side-form-by-step {
    .btn {
      line-height: 2.3;
    }
  }
}

//Correção campo senha.
#edit-field-password-match-verifier,
label[for="edit-field-password-match-verifier"],
label[for="edit-field-password-match-verifier--change"] {
  opacity: 0;
}

#field_password_match_verifier-error {
  margin-left: -1.5rem;
  margin-top: -1.5rem;
}
