.portal-btn-separator {
  display: flex;
  padding-top: 0.5rem;

  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
}

.btn-portal-wrapper {
  display: block;
  outline: none;

  & :hover {
    color: $gray-primary-10;
    background-color: $blue-primary-dark;
  }

  & :active {
    color: $blue-primary-dark;
    background-color: $blue-primary-light;
  }

  &:last-child {
    @include media-breakpoint-up(md) {
      a {
        margin-right: 0;
      }
    }
  }
}

.btn-portal {
  display: flex;
  color: $gray-primary-10;
  font-size: 4rem;
  font-weight: bold;
  text-decoration: none;
  margin-top: 1rem;
  margin-right: 1rem;
  height: 11.56rem;
  width: 11.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue-primary-main;
  border-top-right-radius: 4rem;
  outline: none;

  @include media-breakpoint-up(md) {
    width: 7.20rem;
    height: 10rem;
  }

  @include media-breakpoint-up(lg) {
    width: 10.10rem;
    height: 11.56rem;
  }

  & i, p {
    & :active {
      color: $blue-primary-dark;
    }
  }

  & > i {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  & > p {
    text-align: center;
  }

  & :active {
    color: $blue-primary-dark;
  }
}

.page-title-description {
  width: 22rem;
}

#field_accepted_term-error, #field_CB_user_birth_date-error{
  display: block;
}

.form-item-field-accepted-term {
  color: $gray-primary-50;
  &:focus-within {
    color: $gray-primary-50 !important;
    a {
      color: $blue-primary-main !important;
    }
  }
}

label[for="edit-field-accepted-term"], label[for="edit-field-cb-user-birth-date"] {
  font-weight: 700;
  a {
    color: $blue-primary-main !important;
  }
  &:focus {
    a {
      color: $blue-primary-main !important;
    }
  }
}

label[for="edit-field-accepted-term"] {
  @include media-breakpoint-only(md) {
    display: block;
    width: 95%;
  }
}

.form-item-field-cb-user-birth-date {
  label[for="edit-field-cb-user-birth-date"] {
    margin-right: -5px;
  }
}
